body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #cfd9df, #e2ebf0);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background: white;
    width: 420px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 30px;
    background: #1f4ea3;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #163a7a;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

a {
    text-decoration: none;
    color: #1f4ea3;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}
